* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #efefef;
}

.game-container {
	position: relative;
	align-items: center;
	justify-content: center;
}

#center-circle {
	position: absolute;
	left: 30%;
	top: 30%;
	background-color: #222;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	z-index: 1;
}

#start-button {
	position: absolute;
	left: 47%;
	top: 47%;
	background-color: #16a016;
	width: 6%;
	height: 6%;
	border-radius: 50%;
	z-index: 2;
	border: 1px solid white;
	cursor: pointer;
}

.start-button-pressed {
	box-shadow: inset 0 2px 4px #444;
}

.piece {
	width: 200px;
	height: 200px;
}

.clickable {
	cursor: pointer;
}

.wait-for-sequence {
	cursor: progress !important;
}

.half {
	display: flex;
}

#top-left {
	border-top-left-radius: 100%
}

#top-right {
	border-top-right-radius: 100%;
}

#bottom-right {
	border-bottom-right-radius: 100%;
}

#bottom-left {
	border-bottom-left-radius: 100%; 
}

.red {
	background-color: #DB4437;
}

.blue {
	background-color: #4285F4;
}

.green {
	background-color: #0F9D58;
}

.yellow {
	background-color: #F4B400;
}

.bright {
	filter: brightness(200%)
}

.grey {
	background-color: grey;
}



